
* {
    box-sizing: border-box;
}

html {
    font-size: 20px;
    min-width: 300px;
}

body {
    font-family: 'Source Serif 4', 'Open Sans Condensed' !important;
}

.title {
    margin: 30px;
}

ul.text {
    list-style: none;
}

ul.text li {
    height: auto;
    padding : 40px;
    margin : 40px;
}



.header .navbar li.nav-item a.nav-link: hover {
    color: white;
    text-decoration: underline; 
}


span.navbar-toggler-icon {
    color: white;
}

h1 {
    font-weight: bold;
    margin: 40px;
}

div.row div div.bgc {
    padding: 10px;
    background-color: rgb(196, 196, 196);
    border-radius: 20px;
    margin: 10px;
}